# Weekly exercise 7: Simple Pandas exercises

In this exercise you will analyze some data on occupations.

In [2]:
import pandas as pd

## Task 1

- Import the data from  [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user)  
- Assign it to a variable called `users`  
- Output the number of variables and the number of observations  
- List the variables  
- To take a first look at the data output the first 15 observations

In [103]:
users = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", sep="|")
print("num of variables: " + str(len(users.columns)))
print("num of observations: " + str(len(users)))
print("variables: " + str(users.columns))

# first 15 observations
users.head(15)

num of variables: 5
num of observations: 943
variables: Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301

## Task 2

Compute the mean age per occupation

In [106]:
mean_per_occupation = users.groupby(["occupation"]).mean()
print("mean age per occupation")
print()
print(mean_per_occupation['age'])

mean age per occupation

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

## Task 3

Compute the female ratio per occupation and sort it from the most to the least

Hint: write a function and use *apply* method to convert M/F symbols to integers, if needed.

In [108]:
temp = users.replace("M", 0)
final = temp.replace("F", 1)
print("female ratio per occupation")
print()
print(final.groupby(['occupation']).mean()["gender"].sort_values(ascending=False))

female ratio per occupation

occupation
homemaker        0.857143
healthcare       0.687500
librarian        0.568627
artist           0.464286
administrator    0.455696
none             0.444444
writer           0.422222
marketing        0.384615
other            0.342857
student          0.306122
educator         0.273684
salesman         0.250000
lawyer           0.166667
entertainment    0.111111
scientist        0.096774
executive        0.093750
programmer       0.090909
retired          0.071429
technician       0.037037
engineer         0.029851
doctor           0.000000
Name: gender, dtype: float64

## Task 4

For each occupation, calculate the minimum and maximum ages

In [122]:
users.groupby(["occupation"]).min()["age"]

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

In [123]:
users.groupby(["occupation"]).max()["age"]

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

## Task 5

For each combination of occupation and gender, calculate the mean age

In [135]:
print("mean age for each combination of occupation and gender")
print()
users.groupby(["occupation", "gender"]).mean()["age"]

mean age for each combination of occupation and gender

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

## Task 6

For each occupation present the percentage of women and men

Hint: you may find useful functions agg() and div()

In [ ]:
# write your code here

Special thanks to [https://github.com/justmarkham](https://github.com/justmarkham) for sharing the dataset and materials.